whatstk
pygeohash
streamlit
streamlit-extras
streamlit-plotly-events
streamlit-folium
streamlit-analytics
st-annotated-text
folium
googletrans==3.1.0a0
pandas==1.5.3
emoji
scikit-learn
nltk
scipy==1.10.1
gensim