
<html lang="en">
  <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp Analyzer</title>

      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/main.css') }}">
    <!-- Fontawesome CDN Link -->

  </head>
  <body>

    <nav class="sidebar">
      <a href="#" class="logo"><center>Whatsapp Analyzer</center></a>
      <div class="menu-content">
        <ul class="menu-items">
          <div class="menu-title"><u>Sections</u></div>
          <li class="item">
            <a href="/general_statistics/{{ value }}">General Statistics</a>
          </li>
          <li class="item">
            <a href="/user_level_analysis/{{ value }}">User Level Analysis</a>
          </li>
          <li class="item">
            <a href="/text_analysis/{{ value }}">Text Analysis</a>
          </li>
            <li class="item">
            <a href="/geographics/{{ value }}">Geographic Analysis</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="main">

           <div id="plotly-plot"></div>

    <script>
        // Get the graph JSON data from the Flask template
        var graphJSON = {{ graphJSON|safe }};

        // Create the plot using graphJSON
        Plotly.react('plotly-plot', graphJSON, {});
    </script>

    </main>
  </body>

</html>